.error-msg {
  color: rgb(108, 0, 0);
}

.div-error {
  background-color: #d9534f;
  border: 2px rgb(108, 0, 0) solid;
  max-width: 60%;
  padding: 0.3rem;
  margin: 20px auto;
  border-radius: 25px;
  text-align: center;
}
