.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 1vh 10vh;
  text-align: center;
}

.buttons {
  background-color: #0275d8;
  color: white;
  margin: 4px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.buttons:hover {
  background-color: #068bff;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgb(41, 41, 41);
}

.div-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-patterns {
  display: flex;
  align-items: center;
  margin: 10px;
}

.div-timer-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  border: 2px black solid;
  border-radius: 5px;
  background-color: rgb(240, 248, 255);
}

.name {
  margin-top: 10px;
  color: #0275d8;
}

@media only screen and (max-width: 600px) {
  .div-timer-size {
    flex-wrap: wrap;
  }

  .div-patterns {
    flex-wrap: wrap;
  }

  .div-control-buttons {
    display: flex;
    flex-direction: column;
  }

  .container {
    margin: 1vh 7vh;
    text-align: center;
  }
}
